
{% load staticfiles %}
<!DOCTYPE HTML>

<html>

	<head>

		<title>Adriano Engineering - Innovación, Diseño e Ingeniería de Alta Tecnología</title>

		<meta charset="utf-8" />

		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<!--[if lte IE 8]><script src="href="{% static 'js/ie/html5shiv.js' %}"></script><![endif]-->


        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}"  type="text/css" />

		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->

		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->

	</head>

	<body class="no-sidebar">

		<div id="page-wrapper">



			<!-- Header -->

				<header id="header">

					<h1 id="logo"><a href="../inicio">ADRIANO ENGINEERING</a></h1>

					<nav id="nav">

						<ul>

							<li class="current"><a href="../inicio">Inicio</a></li>

							<li class="menu"><a href="../nosotros">Sobre Nosotros</a></li>

                            <li class="submenu">

								<a href="../productos">Productos y Servicios</a>

								<ul>

									<li><a href="../ingenieriadecontrol">Ingeniería de control</a></li>

									<li><a href="../ingenieriadeprueba">Ingeniería de prueba</a></li>

									<li><a href="../laboratoriodediseno">Laboratorio de diseño</a></li>
								</ul>
							</li>

                            <li><a href="../contacto">Contacto</a></li>

                            <a href="../inicio"><img src="{% static "images/flag-mexico.png" %}" alt="espanol" width="20" height="20"></a>
                          <img src="{% static "images/flag-united-states.png" %}" alt="espanol" width="20" height="20">
						</ul>
					</nav>

				</header>

		<section id="banner">

		</section>

<!-- Main -->


{% block content %}
            {% endblock %}

			<!-- Footer -->

				<footer id="footer">

					<ul class="copyright">
						<li>&copy;Adriano Engineering S. de R.L. de C.V. Todos los derechos reservados</li>
					</ul>
				</footer>

        <section id="banner">

		</section>

		</div>



		<!-- Scripts -->





	</body>

</html>