{% extends "espanol/base.html"  %}


{% load staticfiles %}



{% block content %}

{% if queryset %}
<h1></h1></br>
            {% for  ins in queryset %}

                <div class="conteiner-fluid" align="left" style=" margin-left: 50px; margin-right:30px;  text-align: justify;">

                <div class="row">

<table>
    <tr>

        <td><div style="width: 100%" align="center"><h1>{{ ins.titulo }}</h1></br></div></td>



    </tr>

    <tr> <td> <div >{{ ins.descripcion }}

            </div></td></tr>

    <tr>

        <td><div  align="center"> <p><img src="/media/{{ins.imagen }}" height="500"  alt="{{ ins.titulo }}" > </h1></br></div></td>



    </tr>

<tr> <td> <div >{{ ins.contenido }}

            </div></td></tr>
</table>


                   </div></div>











            {% endfor %}

{% else %}
    {% endif %}




{% endblock %}