{% extends "espanol/base.html"  %}


{% load staticfiles %}



{% block content %}
<section id="banner">

					<!--
						".inner" is set up as an inline-block so it automatically expands
						in both directions to fit whatever's inside it. This means it won't
						automatically wrap lines, so be sure to use line breaks where
						appropriate (<br />).
					-->
					<div class="inner">

						<header>
						  <p>&nbsp;</p>
						  <p><img src="{% static 'images/logo_ae.png' %}" alt="adrianoengineering" width="316" height="148" hspace="10" vspace="100">
					      </p>
						  <h3><strong>InnovaciÓN, DISEÑO E INGENIERÍA DE ALTA TECNOLOGÍA</strong></h3>
					  </header>
					</div>

		  </section>

{% if queryset %}
<h1></h1></br>
            {% for  ins in queryset %}

                <div class="conteiner-fluid" align="left" style=" margin-left: 50px; margin-right:30px;  text-align: justify;">

                <div class="row">

<table>
    <tr>

        <td><div style="width: 100%" align="center"><h1>{{ ins.titulo }}</h1></br></div></td>



    </tr>

    <tr> <td> <div >{{ ins.descripcion }}

            </div></td></tr>

    <tr>

        <td><div  align="center"> <p><img src="/media/{{ins.imagen }}" height="500"  alt="{{ ins.titulo }}" > </h1></br></div></td>



    </tr>

<tr> <td> <div ><h1>{{ ins.titulo2 }}</h1>

            </div></td>

<td> <div ><p>{{ ins.descripcion2 }}</p>

            </div></td>


    <td> <div ><h1>{{ ins.titulop1 }}</h1>

            </div></td>

<td> <div ><p>{{ ins.producto1 }}</p>

            </div></td>


    <td> <div ><h1>{{ ins.titulop2 }}</h1>

            </div></td>

<td> <div ><p>{{ ins.producto2 }}</p>

            </div></td>



</tr>
</table>


                   </div></div>











            {% endfor %}


{% else %}
    {% endif %}




{% endblock %}