{% extends "espanol/base.html" %}
{% load staticfiles %}

{% block content %}
<article id="main">

					<header class="special container">

						<span class="icon fa-mobile"></span>



{% if queryset %}

            {% for  ins in queryset %}

					<!-- One -->

						<section class="wrapper style4 container">



							<!-- Content -->

								<div class="content">

									<section>



										<header>

											<h3><strong>{{ ins.titulo }}</strong></h3>

										</header>

										<p>{{ ins.descripcion }}								</p>
										<a href="#" class="image featured"><img src="{% static "images/sobrenosotros1.jpg" %}" alt="" /></a>
									</section>

									<section>



										<header>

											<h3><strong>{{ ins.titulo2 }}</strong></h3>

										</header>
										<div align="justify"><p>{{ ins.descripcion2 }}	</p></div>


									</section>

								</div>

						</section>


		<section id="banner">

		</section>

					<!-- Two -->

						<section class="wrapper style1 container special">

							<div class="row">

								<div class="4u 12u(narrower)">



									<section>

										<header>

											<h3>{{ ins.titulop1 }}</h3>

										</header>

										<p>{{ ins.producto1 }}</p>

						  <footer>

											<ul class="buttons">

												<li><a href="ingenieriadecontrol.html" class="button small">LEER MÁS</a></li>

											</ul>

										</footer>

									</section>



								</div>

								<div class="4u 12u(narrower)">



									<section>

										<header>

											<h3>{{ ins.titulop2 }}</h3>

										</header>

										<p>{{ ins.producto2 }}</p>

										<footer>

											<ul class="buttons">

												<li><a href="ingenieriadeprueba.html" class="button small">LEER MÁS</a></li>

											</ul>

										</footer>

									</section>



								</div>

								<div class="4u 12u(narrower)">



									<section>

										<header>

											<h3>{{ ins.titulop3 }}</h3>

										</header>

										<p>{{ ins.producto3 }}</p>

						  <footer>

											<ul class="buttons">

												<li><a href="laboratoriodediseno.html" class="button small">LEER MÁS</a></li>

											</ul>

										</footer>

									</section>



								</div>

							</div>

						</section>



				</article>
{% endfor %}


{% else %}
    {% endif %}





{% endblock %}