{% extends "espanol/base.html"  %}


{% load staticfiles %}



{% block content %}

{% if queryset %}
<h1></h1></br>
            {% for  ins in queryset %}

                <div class="conteiner-fluid" align="left" style=" margin-left: 50px; margin-right:30px;  text-align: justify;">

                <div class="row vertical-align">







{#<table  >#}
{#                <tr style="margin-left: 20px" >#}
{##}
{##}
{#<tr>#}
{#                 <td><div> <p><img src="/media/{{ins.imagen }}" height="200"  alt="{{ ins.producto }}" > </div></td>#}
{# <td>{{ ins.descripcion }}</td> <td valign="top">{{ ins.descripcion }}</td>#}
{#</tr>#}
{#                </tr>#}
{##}
{#</table>#}

</br>

                    <table class="table" style="border: 1px solid black"  >

   <thead>

   <tr>
       <th></th>
       <th><h1 style="text-align: center;" >{{ ins.producto }}</h1></th>
   </tr>


      <tr>
          <th style=" padding: 10px; " > <img class="text-center" src="/media/{{ins.imagen }}" height="200"  alt="" ></th>
         <th style="vertical-align: top;  padding: 10px;" >{{ ins.descripcion }}</th>
      </tr>
   </thead>

</table>


                </div>     </div></br></br>

            {% endfor %}

{% else %}
    {% endif %}




{% endblock %}